body{
    background-color:darkblue;
    width:100%;
    height:100vh;
    color:white;
}
#game {
    display:grid;
    justify-content: center;
    height:80vh;
    align-items:center;
}

#gameBoard {
background-color:black;
width:450px;
height:450px;
display:grid;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas:
 "a1 a2 a3"
 "b1 b2 b3"
 "c1 c2 c3";

border:1px solid white;
justify-items:stretch;
align-items:stretch;
}

svg {
    width:100%;
    height:100%;
    border:1px solid white;
}

#svg1{grid-area:a1;}
#svg2{grid-area:a2;}
#svg3{grid-area:a3;}
#svg4{grid-area:b1;}
#svg5{grid-area:b2;}
#svg6{grid-area:b3;}
#svg7{grid-area:c1;}
#svg8{grid-area:c2;}
#svg9{grid-area:c3;}